.mainBoard1 {
  height: 85vh;
  display: flex;
  background-color: var(--color-mediumBlack-mainWhite);
  border-radius: 20px;
  width: 100%;
  margin-top: 3%;
}
section {
  width: 30%;
}
.mainBoardLeft {
  color: var(--color-white-black);
  p {
    b {
      text-decoration: underline var(--color-orange-purple) wavy 2px;
      text-underline-offset: 5px;
    }
    display: contents;
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: var(--color-easyBlack-easyBlack);
    text-underline-offset: 2px;
    transition: text-underline-offset 0.75s;
  }
  a:hover {
    text-decoration: 3px solid underline var(--color-orange-purple);
    text-underline-position: under;
    text-underline-offset: 10px;
  }
  #register {
    color: var(--color-white-black);
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-mediumBlack2-white);
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: 2px 15px 6px var(--color-hardBlack-hardWhite) ;
  }
  #register:hover {
    border-color: var(--color-easyBlack-easyBlack);
    text-decoration: none;
  }
  #register:focus,
  #register:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  #reverse {
    color: var(--color-orange-purple);
  }
  #log {
    padding: 2%;
  }
  #links {
    display: block;
  }
  .grid-container {
    display: grid;
    width: 100%;
    padding: 12% 6% 6% 6%;
  }
  display: flex;
  justify-content: center;
  h1 {
    line-height: 0.3;
    font-size: 32px;
  }
  .parrafo {
    display: block;
  }
}
.mainBoardCenterLight {
  background-image: url("./home_mainBoard_components/main_board_center_components/VioletPicOfFornite.jpg");
  background-size: 100% 100%;
  .clock_container {
    padding-top: 2%;
  }
  .time_left {
    border-radius: 20px;
    display: inline;
    padding: 2% 5%;
    background-color: var(--color-white-white);
    color: var(--color-orange-purple);
  }
  #join {
    color: var(--color-hardOrange-hardPurple);
  }
  text-align: center;
}
.mainBoardCenterDark {
  background-image: url("./home_mainBoard_components/main_board_center_components/OrangePicOfFornite.jpg");
  background-size: 100% 100%;
  .clock_container {
    padding-top: 2%;
  }
  .time_left {
    border-radius: 20px;
    display: inline;
    padding: 2% 5%;
    background-color: var(--color-white-white);
    color: var(--color-orange-purple);
  }
  #join {
    color: var(--color-hardOrange-hardPurple);
  }
  text-align: center;
}
.mainBoardRight {
  display: flex;
  flex-direction: column;
  .platform {
    height: 50%;
  }
  .choose {
    display: flex;
    h3 {
      color: var(--color-easyBlack-easyBlack);
    }
    h4 {
      color: var(--color-white-black);
      margin-left: 2%;
    }
  }
  .platform {
    padding: 10%;
    height: 20%;
  }
  .platforms_container {
    display: flex;
    justify-content: center;
    background-color: var(--color-hardBlack-white);
    border-radius: 20px;
    a {
      width: 30%;
      text-align: center;
      padding: 10px 20px;
      text-decoration: none;
      color: var(--color-easyBlack-easyBlack);
    }
    a:hover {
      text-align: center;
      background-color: var(--color-mediumBlack2-mainWhite);
      border-radius: 20px;
    }
  }
  .search-div {
    padding: 10%;
    padding-top: 0;
    display: flex;
    height: 80%;
    flex-direction: column;
  }
  .label2 {
    display: flex;
    h3 {
      color: var(--color-easyBlack-easyBlack);
    }
    h4 {
      color: var(--color-white-black);
      margin-left: 2%;
    }
  }

  .input {
    display: flex;
    height: 10%;
    padding: 2%;
    margin-top: 3%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--color-hardBlack-white);
    input {
      color: var(--color-white-black);
      width: 100%;
      border: none;
      background-color: var(--color-hardBlack-white);
      box-shadow: none;
      font: italic;
    }
  }
  .searchB {
    display: flex;
    flex-direction: column;
    height: 70%;
    margin-top: 1.5%;
    background-color: var(--color-hardBlack-white);
    padding: 2%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
    .sumB {
      border-radius: 5px;
      color: var(--color-white);
      background-color: var(--color-veryEasyBlack-veryEasyBlack);
      border-color: transparent;
      p {
        margin: 0;
      }
    }
    .print {
      display: flex;
      justify-content: space-between;
      height: 13%;
      #game {
        margin: 0;
      }
    }
    .clickB {
      color: var(--color-black-white);
      width: 100%;
      padding: 5%;
      background-color: var(--color-white-black);
      border-radius: 5px;
      border: none;
    }
  }
}
.trendingCategories {
  color: var(--color-white-black);
  display: flex;
  flex-direction: column;
  width: 100%;
}
