.mainBoard1 {
  height: 85vh;
  display: flex;
  background-color: var(--color-mediumBlack-mainWhite);
  border-radius: 20px;
  width: 100%;
  margin-top: 3%;
}
section {
  width: 30%;
}
.mainBoardCenterLight {
  h2{
    color: var(--color-white-white);
  }
  background-image: url("./home_mainBoard_components/main_board_center_components/VioletPicOfFortnite.jpg");
  background-size: 100% 100%;
  .clock_container {
    padding-top: 2%;
  }
  .time_left {
    border-radius: 20px;
    display: inline;
    padding: 2% 5%;
    background-color: var(--color-white-white);
    color: var(--color-orange-purple);
  }
  #join {
    color: var(--color-hardOrange-easyPurple);
  }
  text-align: center;
}
.mainBoardCenterDark {
  h2{
    color: var(--color-white-white);
  }
  background-image: url("./home_mainBoard_components/main_board_center_components/OrangePicOfFortnite5.jpg");
  background-size: 100% 100%;
  .clock_container {
    padding-top: 2%;
  }
  .time_left {
    border-radius: 20px;
    display: inline;
    padding: 2% 5%;
    background-color: var(--color-white-white);
    color: var(--color-orange-purple);
  }
  #join {
    color: var(--color-hardOrange-easyPurple);
  }
  text-align: center;
}
.trendingCategories {
  color: var(--color-white-black);
  display: flex;
  flex-direction: column;
  width: 100%;
}
