.mainBoardRight {
    display: flex;
    flex-direction: column;
    .platform {
      height: 50%;
    }
    .choose {
      display: flex;
      h3 {
        color: var(--color-easyBlack-easyBlack);
      }
      h4 {
        color: var(--color-white-black);
        margin-left: 2%;
      }
    }
    .platform {
      padding: 10%;
      height: 20%;
    }
    .platforms_container {
      display: flex;
      justify-content: center;
      background-color: var(--color-hardBlack-white);
      border-radius: 20px;
      a {
        width: 30%;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        color: var(--color-easyBlack-easyBlack);
      }
      a:hover {
        text-align: center;
        background-color: var(--color-mediumBlack2-mainWhite);
        border-radius: 20px;
      }
    }
    .search-div {
      padding: 10%;
      padding-top: 0;
      display: flex;
      height: 80%;
      flex-direction: column;
    }
    .label2 {
      display: flex;
      h3 {
        color: var(--color-easyBlack-easyBlack);
      }
      h4 {
        color: var(--color-white-black);
        margin-left: 2%;
      }
    }
  
    .input {
      align-items: center;
      display: flex;
      height: 10%;
      padding: 2%;
      margin-top: 3%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background-color: var(--color-hardBlack-white);
      input {
        padding: 0;
        margin: 0;
        color: var(--color-white-black);
        width: 100%;
        border: none;
        background-color: var(--color-hardBlack-white);
        box-shadow: none;
        font: italic;
      }
    }
    .searchB {
      display: flex;
      flex-direction: column;
      height: 70%;
      margin-top: 1.5%;
      background-color: var(--color-hardBlack-white);
      padding: 2%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      justify-content: space-between;
      .sumB {
        border-radius: 5px;
        color: var(--color-white);
        background-color: var(--color-veryEasyBlack-veryEasyBlack);
        border-color: transparent;
        p {
          margin: 0;
        }
      }
      .print {
        display: flex;
        justify-content: space-between;
        height: 13%;
        #game {
          color: var(--color-white-black);
          margin: 0;
        }
      }
      .clickB {
        color: var(--color-black-white);
        width: 100%;
        padding: 5%;
        background-color: var(--color-white-black);
        border-radius: 5px;
        border: none;
      }
    }
  }