body{
--color: #ff6961;
--content: 'no compatible';

background-color: var(--color);
}

body::after{
    content:var(--content)
}



@media(prefers-color-scheme:dark){
    body{
        --color: #242424;
        content: 'light version';
    }
}
@media(prefers-color-scheme:dark){
    body{
        --color: white;
        --content: 'dark version';
    }
}



