:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-black: #1a1a1a;
  --color-hard-black: #1c2020;
  --color-medium-black: #232727;
  --color-medium2-black: #454545;
  --color-easy-black: #737878;
  --color-coral: rgb(255, 90, 29);
  --color-coral2: rgb(244, 129, 74);
  --color-coral-profund: rgb(190, 51, 0);
  --color-white: white;
  --color-purple:rgb(148, 42, 148);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  min-width: 320px;
  min-height: 100vh;
}
